body
{
    background-color: rgb(163, 163, 163);
}
.ad
{
    color: rgb(0, 255, 85);
    text-decoration: none;
    font-weight: bold;
    font-family: monospace;
    font-size: 50px;
    margin-top: 45px;
    text-align: center;
}
@media screen and (min-width: 320px) and (min-height: 320px){
    br {
      display: none; 
    }
}
.duo
{
    color: rgb(0, 255, 85);
    text-decoration: underline;
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    text-align: center;
}
.welkom
{
    color: aliceblue;
    text-decoration: none;
    font-weight: normal;
    text-align: center;
    font-family: Arial;
    font-size: 25px;
    margin-left: 25px;
    margin-top: 100px;
}
.welkom1
{
    color: aliceblue;
    text-decoration: underline;
    font-weight: normal;
    text-align: center;
    font-family: Arial;
    font-size: 25px;
    margin-left: 25px;
    margin-top: 0px;
}